---
layout: default
---

<div style="float:right;position: relative;margin-top:10px">
	<input id="s" class="form-control" style="font-size:11px;padding-left:25px;width:140px;height:25px;">
	<svg class="bi bi-search" width="1.0em" height="1.0em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="position:absolute;left:3px;pointer-events: none;top: 5px;">
	  <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"></path>
	  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"></path>
	</svg>
</div>


<i class="fas fa-atlas"></i>Tags

{% for tag in site.data.tags %}
  <span class="tag" data-tag="{{tag}}">
    <a style="padding-right:5px; font-size:14px; color:silver;"	href="#" value="{{tag}}">#{{ site.data.format[tag] }}</a>
  </span>
{% endfor %}

<div class="catalogue">
  {% for post in paginator.posts %}
  <div class="catalogue-item">
	<time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
	<a href="{{ post.url | prepend: site.baseurl }}"><h1 class="catalogue-title">{{ post.title }}</h1></a>
	<div class="catalogue-line"></div>
	<div class="post-wrapper"
	{% if post.tags %}
	  {% for tag in post.tags %}
		data-{{ tag }}
	  {% endfor %}
	{% endif %}>
		{% if post.tags %}
		  {% for tag in post.tags %}
			<a style="padding-right:5px; font-size:14px; color:silver;"	href="#" value="{{tag}}">#{{ site.data.format[tag] }}</a>
		  {% endfor %}
		{% endif %}
	</div>
	<p>
	  {{ post.content | strip_html | truncatewords: 30 }}
	</p>
  </div>
  {% endfor %}
</div>
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
$("[data-tag]").click(function(){
  //currentTag = e.target.dataset.tag;
  currentTag = $(this).find("a").attr("value");
  filterByTagName(currentTag);
})

function filterByTagName(tagName) {
/*
$('.hidden').removeClass('hidden');
  $('.post-wrapper').each((index, elem) => {
    if (!elem.hasAttribute(`data-${tagName}`)) {
      //$(elem).addClass('hidden');
	  $(elem).css("display","none");
    }
  });
  $('.tag').removeClass('selected');
	$('.tag[data-tag=${tagName}]').addClass('selected');
 */
 
 $('.catalogue-item').each(function(){
	if($(this).find('[data-' + tagName + ']').length) {
		$(this).css("display", "");
	} else {
		$(this).css('display', "none");
	}
 });
 
 $('.tag[data-tag] a').css("color", "silver");
 $(`.tag[data-tag=${tagName}] a`).css("color", "black");
}

 $('.catalogue-item').each(function(){
	if($(this).find('[data-' + tagName + ']').length) {
		$(this).css("display", "");
	} else {
		$(this).css('display', "none");
	}
 });
 
 $('.tag[data-tag] a').css("color", "silver");
 $(`.tag[data-tag=${tagName}] a`).css("color", "black");
}

$('#s').keyup(function(){
    searchval = $(this).val();

    $('.catalogue .catalogue-item').each(function(){
        s = '';
        s += $(this).find('.catalogue-title').html();
        s += $(this).find('p').html();

        if( s.indexOf(searchval) == -1 ){
            $(this).hide();
        } else {
            $(this).show();
        }
    });
});
</script>